<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>文章列表</title>
    <link rel="stylesheet" href="assets/js/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/reset.css">
    <link rel="stylesheet" href="assets/css/iconfont.css">
    <link rel="stylesheet" href="assets/css/main.css">
    <script src="assets/js/jquery-1.12.4.min.js"></script>
    <script src="assets/js/bootstrap/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container-fluid">
        <div class="common_title">
            文章类别管理
        </div>
        <div class="container-fluid common_con">
            <table class="table table-striped table-bordered table-hover mp20 category_table">
                <thead>
                    <tr>
                        <th>名称</th>
                        <th>Slug</th>
                        <th class="text-center" width="100">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- 表格 -->
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3" class="text-center">
                            <a href="#" class="btn btn-success" data-toggle="modal" data-target="#addModal">新增分类</a>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

    <div class="modal fade" id="addModal" >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
              <h4 class="modal-title">新增分类</h4>
            </div>
            <div class="modal-body">
              <form id="addForm">
                <div class="form-group">
                  <label for="recipient-name" class="control-label">分类名称:</label>
                  <!-- 获取表单内容必须有name属性 -->
                  <input name="name" type="text" class="form-control" id="recipient-name">
                </div>
                <div class="form-group">
                  <label for="message-text" class="control-label">分类别名:</label>
                  <!-- 获取表单内容必须有name属性 -->
                  <input name="icon" type="text" class="form-control" id="recipient-icon">
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" id="model_shutoff">关闭</button>
              <button type="button" class="btn btn-primary" id="model_add">新增</button>
            </div>
          </div>
        </div>
      </div>

      <script>
          $('#addModal').modal({
            show:false,
            backdrop:false
          });

          $('#model_shutoff').click(function(){
            alert('shutoff');
            $('#addModal').modal('hide');
          });

          $('#model_add').click(function(){
            // alert('add');
            // 新增
            if ($(this).text(新增)) {
                var data = $('#addForm').serialize();//获取表单所有字符串格式的内容
                // console.log(data)
                $.post('/admin/addCategory',data,function(res) {
                    alert(res.message)
                    // console.log(res)
                    if (res.message === 200) {
                        location.reload();
                    }
                },'json')
            }else if ($(this).text(修改)) {
                // 修改
                var data = $('#addForm').serialize();
                console.log(data)
                $.post('/admin/updateCategory',data,function(res) {
                    alert(res.message)
                    // console.log(res)
                    if (res.message === 200) {
                        location.reload();
                    }
                },'json')
            }  
            
            $('#addModal').modal('hide');
          });

          $('.category_table').delegate('a','click',function(){
              if($(this).hasClass('btn-info')){
                $('#addModal .modal-title').html('修改分类名称');
                $('#model_add').html('修改');
                var id = $(this).attr('data-id');
                $('#addForm').append('<input type="hidden" name="id" value="'+id+'">')

                var name = $(this).attr('data-name');
                var icon = $(this).attr('data-icon');
                $('#recipient-name').val(name);
                $('#recipient-icon').val(icon);
                $('#addModal').modal('show');
              }
          })      
      </script>

      <script src="./assets/js/template-web.js"></script>
      <!-- 获取表格内容 -->
      <script id="cate" type="text/html">
          {{each arr}}
            <tr>
                <td>{{$value.name}}</td>
                <td>{{$value.icon}}</td>
                <td class="text-center">
                    <a href="javascript:;" data-id="{{$value.id}}" data-name="{{$value.name}}" data-icon="{{$value.icon}}" class="btn btn-info btn-xs">编辑</a>
                    <a href="javascript:;" data-id="{{$value.id}}" class="btn btn-danger btn-xs">删除</a>
                </td>
            </tr>
          {{/each}}
      </script>
      <script>
          $.get('/admin/getCategory',function (res) {
              var str = template('cate',{arr: res})
              console.log(res)
              $('tbody').append(str);
          },'json')
      </script>

      <!-- 删除 -->
      <script>
          $('body').on('click','.btn-danger',function () {
              var id = $(this).attr('data-id')
              var that = $(this);
              $.get('/admin/deleteCategory',{id: id},function (res) {
                  alert(res.message)
                  console.log(res)
                //   that.parents('tr').remove();
              },'json')
          })
      </script>
</body>

</html>